Package: com.jantzmorgan.musicdrop
Name: MusicDrop
Version: 0.0.4
Architecture: iphoneos-arm64
Description: Import your music into the native iOS Music library.
Maintainer: Jantz Morgan
Author: Jantz Morgan
Section: Tweaks
Depends: mobilesubstrate
